<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <style>
        .text {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

    <body>
        <div style="width: 90%; margin-left: auto; margin-right: auto; margin-top: 10px; position: relative">
            <div style="margin-top: 30px;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <th style="width: 50%;">
                            <img
                                src="https://staticfileszyxme.s3.us-east.cloud-object-storage.appdomain.cloud/Laraigo-logo-name.svg"
                                width="150px"
                            />
                        </th>
                        <th style="width: 50%; text-align: center;">
                            <div style="border: 1px solid rgb(97, 97, 97); border-radius: 9px; background-color: rgb(218, 218, 218); padding: 30px;">
                                <div class="text" style="font-weight: bold; font-size: 12px;">R.U.C. Nº <%= data[0].ruc %></div>
                                <div class="text" style="font-weight: bold; font-size: 12px;">FACTURA ELECTRÓNICA</div>
                                <div class="text" style="font-weight: bold; font-size: 12px;"><%= data[0].ordernumber %></div>
                            </div>
                        </th>
                    </tr>
                    <tr style="height: 10px;"></tr>
                    <tr>
                        <th style="width: 50%; text-align: left;">
                            <div>
                                <div class="text" style="font-weight: bold; font-size: 12px;"><%= data[0].companyname %></div>
                                <div class="text" style="font-weight: normal; font-size: 10px;"><%= data[0].address %></div>
                                <div style="height: 35px;"></div>
                            </div>
                        </th>
                        <th style="width: 50%;">
                            <div style="border: 1px solid black; border-radius: 9px; padding: 10px;">
                                <table style="width: 100%; border-collapse: collapse;">
                                    <tr style="text-align: left;">
                                        <th class="text" style="font-weight: bold; font-size: 10px; width: 40%;">Fecha de emision</th>
                                        <th class="text" style="font-weight: normal; font-size: 10px;">: <%= data[0].date %></th>
                                    </tr>
                                    <tr style="text-align: left;">
                                        <th class="text" style="font-weight: bold; font-size: 10px; width: 40%;">Cliente</th>
                                        <th class="text" style="font-weight: normal; font-size: 10px;">: <%= data[0].client %></th>
                                    </tr>
                                    <tr style="text-align: left;">
                                        <th class="text" style="font-weight: bold; font-size: 10px; width: 40%;">DNI</th>
                                        <th class="text" style="font-weight: normal; font-size: 10px;">: <%= data[0].docnumber %></th>
                                    </tr>
                                    <tr style="text-align: left;">
                                        <th class="text" style="font-weight: bold; font-size: 10px; width: 40%;">Dirección</th>
                                        <th class="text" style="font-weight: normal; font-size: 10px;">: <%= data[0].address %></th>
                                    </tr>
                                </table>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>
            <div style="margin-top: 10px;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tr style="text-align: left; border: 1px solid black;">
                        <th class="text" style="width: 10%; padding: 8px; font-size: 10px; text-align: right;">Cant.</th>
                        <th class="text" style="width: 10%; padding: 8px; font-size: 10px; text-align: right;">Unidad</th>
                        <th class="text" style="width: 20%; padding: 8px; font-size: 10px;">Código</th>
                        <th class="text" style="width: 40%; padding: 8px; font-size: 10px;">Descripción</th>
                        <th class="text" style="width: 10%; padding: 8px; font-size: 10px; text-align: right;">P.U.</th>
                        <th class="text" style="width: 10%; padding: 8px; font-size: 10px; text-align: right;">Total</th>
                    </tr>
                    <%
                        var totalSum = 0;
                        data[0].products.forEach(function(element, index){
                            totalSum += element.amount;
                    %>
                        <tr style="text-align: left; border: 1px solid black; border-top: none; border-bottom: none;">
                            <td class="text" style="width: 10%; padding: 8px; font-weight: normal; font-size: 10px; text-align: right;"><%= element.quantity %></td>
                            <td class="text" style="width: 10%; padding: 8px; font-weight: normal; font-size: 10px; text-align: right;">Unidad</td>
                            <td class="text" style="width: 20%; padding: 8px; font-weight: normal; font-size: 10px;"><%= element.productmetaid %></td>
                            <td class="text" style="width: 40%; padding: 8px; font-weight: normal; font-size: 10px;"><%= element.description %></td>
                            <td class="text" style="width: 10%; padding: 8px; font-weight: normal; font-size: 10px; text-align: right;"><%= element.unitprice %></td>
                            <td class="text" style="width: 10%; padding: 8px; font-weight: normal; font-size: 10px; text-align: right;"><%= element.amount %></td>
                        </tr>
                    <% }); %>
                </table>
                <table style="width: 100%; border-collapse: collapse;">
                    <tr style="text-align: left; border: 1px solid black;">
                        <th style="width: 70%;"></th>
                        <%
                            var subtotal = (totalSum / 1.18).toFixed(2);
                            var igv = (totalSum - subtotal).toFixed(2);
                        %>
                        <th class="text" style="width: 17%; padding: 8px; font-size: 10px; text-align: right;">
                            <div>
                                <div style="font-weight: normal;">SUBTOTAL</div>
                                <div style="font-weight: normal;">I.G.V.</div>
                                <div style="font-weight: bold;">TOTAL</div>
                            </div>
                        </th>
                        <th class="text" style="width: 12%; padding: 8px; font-size: 10px; text-align: right;">
                            <div>
                                <div style="font-weight: normal;"><%= subtotal %></div>
                                <div style="font-weight: normal;"><%= igv %></div>
                                <div style="font-weight: bold;"><%= totalSum.toFixed(2) %></div>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>
            <div style="margin-top: 10px;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tr style="text-align: left;">
                        <div style="border: 1px solid black; border-bottom: none; padding: 8px;">
                            <div class="text" style="font-size: 10px;">IMPORTE EN LETRAS: CIENTO TRES CON 22/100 SOLES</div>
                            <div class="text" style="font-size: 10px;">RESUMEN: chMIkT6cawosXi8Ln8wmEPtr088=</div>
                        </div>
                    </tr>
                    <tr>
                        <div style="border: 1px solid black; border-top: none; text-align: right;">
                            <img
                                src="https://www.pngmart.com/files/10/Qr-Code-Transparent-PNG.png"
                                width="100px"
                            />
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
